/* Import fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Main settings */

body{
  margin: 0;
  background: rgb(219, 219, 219);
  font-family: 'Roboto', sans-serif;
}

.main{
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 20px;
}

/* Shopping list adder */

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgb(44, 44, 44) 0%, rgb(61, 61, 61) 100%);
  padding: 20px;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  color: #fff;
  border: 1px solid #000;
}

h1{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: rgb(120, 196, 44);
  font-size: 32px;
}

#category, #product, #custom-product, button{
  width: 150px;
}

label{
  text-align: center;
  color: #fff;
  font-size: 12px;
  margin-bottom: 5px;
}

input, select{
  padding: 5px;
  border-radius: 10px;
}

.category-container, .quantity-container{
  margin-bottom: 20px;
}

.category-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#custom-product-limit{
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 12px;
  margin-left: auto;
}

#quantity{
  width: 50px;
}

button{
  background-color: rgb(120, 196, 44);
  font-size: 16px;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover{
  cursor: pointer;
  background-color: rgb(146, 224, 68);
}

button img{
  height: 20px;
}

/* Shopping list */

#shopping-list{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.shopping-list-container{
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
}

.shopping-list-bar{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  font-size: 18px;
  text-align: center;
  background-color:rgb(0, 0, 0, 0.4);
  color: #fff;
  border: 1px solid #000;
}

.shopping-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  transition: background-color 200ms;
  color: rgb(59, 59, 59);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.shopping-list-item:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom: 1px solid #000;
}

.tools-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-container img{
  height: 16px;
  padding: 10px;
}

.tools-container img:hover{
  cursor: pointer;
  transform-origin: center center;
  transform: scale(1.1);
  transition: all 100ms;
}

.checked{
  text-decoration: line-through;
  font-style: italic;
  color: rgb(110, 110, 110);
  background-color: rgba(0, 0, 0, 0.1);
  transition: background-color 200ms;
}

.shopping-list-container .checked:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* Categories' colors */

[data-category='bread'].shopping-list-container{
  background: linear-gradient(90deg, rgba(209,178,123,1) 0%, rgb(206, 170, 104) 100%);
}

[data-category='dairy'].shopping-list-container{
  background: linear-gradient(90deg, rgb(202, 202, 202) 0%, rgb(170, 170, 170) 100%);
}
addercle
[data-category='drinks'].shopping-list-container{
  background: linear-gradient(90deg, rgb(168, 203, 214) 0%, rgb(135, 163, 184) 100%);adder
}

[data-category='fruits'].shopping-list-container{
  background: linear-gradient(90deg, rgb(228, 219, 138) 0%, rgb(216, 208, 100) 100%);
}

[data-category='meat'].shopping-list-container{
  background: linear-gradient(90deg, rgb(228, 171, 209) 0%, rgb(202, 147, 188) 100%);
}

[data-category='snacks'].shopping-list-container{
  background: linear-gradient(90deg, rgb(235, 165, 165) 0%, rgb(197, 138, 138) 100%);
}

[data-category='other'].shopping-list-container{
  background: linear-gradient(90deg, rgb(180, 165, 235) 0%, rgb(156, 138, 197) 100%);
}

[data-category='vegetables'].shopping-list-container{
  background: linear-gradient(90deg, rgb(165, 235, 174) 0%, rgb(138, 197, 146) 100%);
}