@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.main{
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.247);
    border-radius: 20px;
}

h1{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: rgb(71, 71, 71);
}

#category, #product, #custom-product, button{
  width: 150px;
}

#quantity{
  width: 50px;
}

.category-container, .product-container, .quantity-container{
  margin-bottom: 20px;
}

#shopping-list{
  display: flex;
  flex-direction: column;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.247); */
}

.shopping-list-container{
  background-color: #d8d5a6;
  border-radius: 20px;
}

.shopping-list-item{
  padding: 20px;
}

.shopping-list-item:first-child{
  margin-top: 10px;
}

.shopping-list-item:last-child{
  margin-bottom: 10px;
}

input, select, button{
  padding: 5px;
}

[data-category].shopping-list-bar{
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
}

[data-category='bread']{
  background-color: #b9b682;
}

[data-category='bread'].shopping-list-item{
  background-color: #d8d5a6;
}

[data-category='bread']:last-child.shopping-list-item{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}