@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin: 0;
  background: #acb6e5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #86fde8, #acb6e5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #86fde8, #acb6e5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto', sans-serif;
  color: rgb(59, 59, 59);
}

.main{
  display: block;
  width: max-content;
  margin: auto;
  margin-top: 20px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(245, 245, 245);
    padding: 20px;
    box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.247);
    border-radius: 20px;
}

h1{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

#category, #product, #custom-product, button{
  width: 150px;
}

#quantity{
  width: 50px;
}

.category-container, .product-container, .quantity-container{
  margin-bottom: 20px;
}

#shopping-list{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.shopping-list-container{
  background-color: #d8d5a6;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 0px 4px 15px 2px rgba(0, 0, 0, 0.247);
}

.shopping-list-bar{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.shopping-list-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.tools-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

.tools-container img{
  height: 16px;
  padding: 10px;
}

.tools-container img:hover{
  cursor: pointer;
  transform-origin: center center;
  transform: scale(1.1);
  transition: all 100ms;
}

.checked{
  text-decoration: line-through;
  font-style: italic;
  color: rgb(174, 174, 174);
  background-color: rgba(0, 0, 0, 0.2);
}

.shopping-list-container .checked:last-child{
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

input, select, button{
  padding: 5px;
}

[data-category='bread'].shopping-list-container .shopping-list-bar{
  background: rgb(139,116,74);
  background: linear-gradient(90deg, rgba(139,116,74,1) 0%, rgba(133,117,88,1) 100%);
}
[data-category='bread'].shopping-list-container{
  background-color: rgb(157, 146, 120);
}

[data-category='dairy'].shopping-list-container .shopping-list-bar{
  background-color: rgb(207, 207, 207);
}
[data-category='dairy'].shopping-list-container{
  background-color: rgb(231, 231, 231);
}

[data-category='drinks'].shopping-list-container .shopping-list-bar{
  background-color: rgb(162, 170, 201);
}
[data-category='drinks'].shopping-list-container{
  background-color: rgb(183, 192, 226);
}

[data-category='fruits'].shopping-list-container .shopping-list-bar{
  background-color: rgb(223, 170, 146);
}
[data-category='fruits'].shopping-list-container{
  background-color: rgb(241, 188, 167);;
}

[data-category='meat'].shopping-list-container .shopping-list-bar{
  background-color: rgb(212, 170, 200);
}
[data-category='meat'].shopping-list-container{
  background-color: rgb(231, 195, 220);
}

[data-category='snacks'].shopping-list-container .shopping-list-bar{
  background-color: rgb(191, 138, 221);
}
[data-category='snacks'].shopping-list-container{
  background-color: rgb(208, 168, 231);
}

[data-category='other'].shopping-list-container .shopping-list-bar{
  background-color: rgb(124, 175, 173);
}
[data-category='other'].shopping-list-container{
  background-color: rgb(149, 207, 205);
}
